#Ignore the file named 'changes.txt'
changes.txt

#Inore the file named 'dbconfig.php'
classes/dbconfig.php

# exclude everything in templates_c/
templates_c/*

#exclude recaptcha global keys
configs/recaptchaglobalkeys.php